body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

*,
after,
before {
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 10px inset rgb(41, 129, 110);
    background-color: greenyellow;
    line-height: 2;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: darkblue;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0.3rem auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

.container ul li {
    width: 200px;
    height: 200px;
    margin: .3rem;
    border: 2px solid black;
}

a:hover {
    background: linear-gradient(green, lightgreen);
    padding: 2px;
    font-family: cursive;
}

.source {
    font-size: 12px;
}